doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 My App
      nav
        ul
          li: a(href='/') Home
          li: a(href='/users') Users
          li: a(href='/posts') Posts
    block content
