body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }
  h1 {
    color: #333;
  }
  form {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  input {
    margin: 5px 0;
  }
  